body {
        background: url("http://superjd10.x10.bz/fondoblogjd.png");
        padding-top: 60px;
        padding-bottom: 40px;
}

ul, li {
border:0pt none;
font-family:inherit;
font-size:100%;
font-style:inherit;
font-weight:inherit;
margin:0pt;
padding:0pt;
vertical-align:baseline;
}
#menuclickderecho {
	display: none;
	width: 330px;
	padding: 1px;
	background: #171717;
	border: 1px solid #3e3e3e;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	position: absolute;
}
#menuclickderecho ul{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #6d6d6d;
	background: #fff;
	border: 1px solid #171717;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
}
#menuclickderecho ul li{
	line-height: 1.5em;
	padding: 6px 60px 6px 8px;
	font-size: 11px;
	border-bottom: 1px solid #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#menuclickderecho ul li:hover{
	background-color: #fff8cc;
	border-bottom: 1px solid #ffe222;
	color: #000;
	cursor: pointer;
}
#menuclickderecho ul li a{
	color: #296ba5;
	text-decoration: none;
	outline: none !Important;
	color: #6d6d6d;
	display: block;
}
#menuclickderecho ul li{
	background-position: 3px 6px;
	background-repeat: no-repeat;
}